<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Password de [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Password cambiado.</strong>
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>Ha ocurrido un error.</strong>
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                No coinciden los passwords escritos.
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nuevo password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nuevo password"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            El password es obligatorio.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Tu password debe tener un mínimo de 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Tu password sólo puede tener un máximo de 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirma nuevo password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirma password"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            La confirmación es obligatoria.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Tu confirmación debe tener un mínimo de 5 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Tu confirmación sólo puede tener un máximo de 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
