
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMensajeLabel">Escribir un nuevo mensaje</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="control-label" translate="plumbeerApp.mensaje.asunto" for="field_asunto">Asunto</label>
            <input type="text" class="form-control" name="asunto" id="field_asunto"
                    ng-model="mensaje.asunto"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="plumbeerApp.mensaje.cuerpo" for="field_cuerpo">Cuerpo</label>
                <textarea class="form-control" name="cuerpo" id="field_cuerpo"
                    ng-model="mensaje.cuerpo"  />
        </div>
        <div class="form-group">
            <label translate="plumbeerApp.mensaje.receptor" for="field_receptor">receptor</label>
            <select class="form-control" id="field_receptor" name="receptor" ng-model="mensaje.receptor" ng-options="user as user.firstName for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-export"></span>&nbsp;<span>Enviar</span>
        </button>
    </div>
</form>
